.PreviewForm {
  font-size: 16px;
}

.PreviewForm .formField {
  border: none;
  margin: 0;
}

.PreviewForm label {
  width: 100%;
  margin: 5px 0;
}

.radioFields {
  display: flex;
  justify-content: flex-start;
}
.radio,
.radio label,
.radio input {
  display: inline-block;
  width: auto;
  line-height: 21px;
}

.radio {
  margin-right: 10px;
  width: 100px;
}

.radio input {
  vertical-align: text-bottom;
}

.PreviewForm input,
.PreviewForm select {
  position: relative;
  border: 1px solid #999;
  padding: 5px;
  font-size: 16px;
  display: inline-block;
  background-color: #fff;
  border-radius: 0;
}

.PreviewForm input {
  padding: 6px 10px;
}
