.formField {
  border: 1px solid #999;
  padding: 10px;
  margin: 20px 0;
  width: 75vw;
}

.question,
.questionType,
.conditional {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 5px 0;
}

.formSection > .formSection {
  margin-left: 20px;
}

label {
  position: relative;
  width: 70px;
  margin-right: 10px;
  font-size: 16px;
  display: inline-block;
}

input,
select {
  position: relative;
  width: calc(100% - 80px);
  border: 1px solid #999;
  padding: 5px;
  font-size: 16px;
  display: inline-block;
  background-color: #fff;
  border-radius: 0;
  height: 32px;
}

input {
  padding: 6px 10px;
}

input.condition,
select.condition,
input.conditionValue,
select.conditionValue {
  width: calc((100% - 80px)/2 - 5px);
}

input.condition,
select.condition {
  margin-right: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  border: 1px solid #999;
  background-color: #ccc;
  font-size: 16px;
}

.formSection button {
  padding: 5px 10px;
  margin-left: 20px;
  font-size: 14px;
}

@media (max-width: 480px) {
  label,
  input,
  select,
  input.condition,
  select.condition,
  input.conditionValue,
  select.conditionValue {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  label {
    margin-top: 0;
  }

  .formField {
    width: 60vw;
  }
}

@media (min-width: 480px) {
  label,
  input,
  select,
  input.condition,
  select.condition,
  input.conditionValue,
  select.conditionValue {
    display: inline-block;
  }

  input,
  select {
    width: calc(100% - 80px);
  }

  input.condition,
  select.condition,
  input.conditionValue,
  select.conditionValue {
    width: calc((100% - 80px)/2 - 5px);
  }

  label {
    width: 70px;
    margin-top: 0;
  }

  .formField {
    width: 60vw;
  }
}
